$table-header: #1976D2;
$table-header-border: #1565C0;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;

div {
    box-sizing: border-box;
}

.text-left {
    text-align: left;
}

.pad {
    padding: 5px 10px;
}

.channel-container {
    display: block;
    margin: 2em auto;
    width: 97%;
    .flex-table {
        display: flex;
        flex-flow: row wrap;
        border-left: solid 1px $table-border;
        align-items: stretch;
        transition: 0.5s;
        &:first-of-type {
            border-top: solid 1px $table-header-border;
            border-left: solid 1px $table-header-border;
        }
        &:first-of-type .flex-row {
            background: $table-header;
            color: white;
            border-color: $table-header-border;
        }
        &.row:nth-child(odd) .flex-row {
            background: $row-bg;
        }
        &:hover {
        background: #F5F5F5;
        transition: 500ms;
        }
    }
    .flex-row {
        width: calc(100% / 3);
        text-align: center;
        padding: 0.5em 0.5em;
        border-right: solid 1px $table-border;
        border-bottom: solid 1px $table-border;
    }
}

.column {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    padding: 0;
    .flex-row {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: 0;
        border: 0;
        border-bottom: solid 1px $table-border;
        &:hover {
        background: #F5F5F5;
        transition: 500ms;
        }
    }
}

.flex-cell {
    width: calc(100% / 3); //1px = border right
    text-align: center;
    padding: 0.5em 0.5em;
    border-right: solid 1px $table-border;
    //flex: 1 1 33.3%;
    &:last-child {
      // border-right: 0;
    }
}

.favorite-container {
  padding: 10px 0;
  margin: 0 auto;
}

a {
  color: #1565C0;
}

@media all and (max-width: 767px) {
    .flex-row {
      width: calc(100% / 3); //1px = border right
      
     &.first {
       width: 100%;
     }
    }
  
    .column {
      width: 100%;
    }
}

@media all and (max-width: 550px) {
    .flex-table {
      .flex-row {
        border-bottom: 0;
        width: calc(100% / 2)
      }
      .flex-row:last-of-type {
        border-bottom: solid 1px $table-border;
      }
    }
    
    .header {
      .flex-row {
        border-bottom: solid 1px;
      }
    }
    
    .flex-row {
      width: 100%; //1px = border right
      
     &.first {
       width: 100%;
       border-bottom: solid 1px $table-border;
     }
    }
  
    .column {
      width: 100%;
      .flex-row {
        border-bottom: solid 1px $table-border;
      }
    }
  
    .flex-cell {
      width: 100%; //1px = border right
    }

    .number {
        width: 30%;
    }
}