$table-header: #1976D2;
$table-header-border: #1565C0;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;
$midnight: #2c3e50;
$clouds: #ecf0f1;

.pl20 {
    padding-left: 20px;
}
.channel-details-container {
    .back-link {
        text-align: left;
        padding-left: 15px;
        margin-bottom: 5px;
    }
    table {
        width: 97%;
        margin: 0 auto;
        tr {
            td {
                padding: 10px 0;;
            }
        }
    }
    table.table-responsive tr td:first-child {
        width: 30%;
        background-color: #1976D2;
    }
    table.table-responsive tr td:nth-child(2) {
        text-align: left;
        padding: 7px;
    }
    @media only screen and (max-width: 550px) {
        table.table-responsive tr {
            display: block;
        }
        table.table-responsive tr td {
            display: block;
            width: 100%;
        }
        table.table-responsive tr td:first-child {
            width: 100%;
        }
    }
}

/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
  }
  .tab {
    width: 100%;
    color: white;
    overflow: hidden;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: $midnight;
      font-weight: bold;
      cursor: pointer;
      /* Icon */
      &:hover {
        background: darken($midnight, 10%);
      }
      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      color: $midnight;
      background: white;
      transition: all .35s;
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: $midnight;
      cursor: pointer;
      &:hover {
        background: darken($midnight, 10%);
      }
    }
  }
  
  // :checked
  .tab-input:checked {
    + .tab-label {
      background: darken($midnight, 10%);
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .tab-content {
      max-height: 100vh;
      padding: 1em;
    }
  }
  .tab-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  