.buttons-container {
    padding: 10px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px 25px 5px 15px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    font-size: small;
}

.dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}
  
.dd-button:hover {
    background-color: #eeeeee;
}
  
  
.dd-input {
    display: none;
}
  
.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}
  
.dd-input + .dd-menu {
    display: none;
} 
  
.dd-input:checked + .dd-menu {
    display: block;
} 
  
.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    text-align: left;
}
  
.dd-menu li:hover {
    background-color: #f6f6f6;
}
  
.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}
  
.dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

.checkmark
{
    background:url('../../images/iconmonstr-check-mark-5.svg') no-repeat; 
    width:22px; 
    height:22px;
    display: inline-block; /*not supported by IE7<*/
    padding:3px 5px 0 0;
    margin: 0 0 0 10px;
}

button {
    border: 3px solid black;
    background-color: transparent;
    padding: 3px 5px;
}